@import 'reset.css';

body{background: #f4f4f4;text-align: center;}


#logo{
	width: 100%;
	display: inline-block;
	background: #34495e;
	border-bottom: 1px solid #7f8c8d;
}
#logo a{
	display: block;
	padding-top: 10px;
}
#inst_wiz{
	width: 60%;
	margin-top: 50px;
	display: inline-block;

	background: #fff;
	border: 1px solid #ecf0f1;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#inst_head{
	width: 100%;
	float: left;

	background: #2c3e50;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#inst_head_title{
	width: 100%;
	line-height: 40px;
	float: left;

	font-family: arial;
	font-size: 16px;
	color: #ecf0f1;
}
#container{
	width: 100%;
	float: left;
}
#input{
	width: 100%;
	float: left;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}
#input label{
	width: 30%;
	padding-right: 10%;
	line-height: 40px;
	float: left;
	text-align: right;

	font-family: arial;
	font-size: 16px;
	color: #c7c7c7;
}
#input input[type="text"], input[type="password"]{
	width: 50%;
	height: 40px;
	float: left;

	outline: none;
	border: 1px solid #ecf0f1;
	color: #c7c7c7;
	font-size: 16px;
	text-indent: 15px;
	transition: 0.1s;
}
#input input:hover{
	border: 1px solid #c7c7c7;
}
#input input:focus{
	border: 1px solid #b9b9b9;
	border-radius: 7px;
	color: #b9b9b9;
}
#form_wiz{
	width: 100%;
	float: left;
}
input[type="submit"]{
	background: #34495e;
	display: inline-block;

	width: 50%;
	height: 40px;

	margin-top: 1%;
	margin-bottom: 1%;
	outline: none;
	border: 1px solid #ecf0f1;
	color: #fff;
	font-size: 16px;
	text-indent: 15px;
	transition: 0.1s;
}
input[type="submit"]:hover{
	border: 1px solid #c7c7c7;
}
input[type="submit"]:focus{
	border: 1px solid #b9b9b9;
	border-radius: 7px;
	color: #b9b9b9;
}
#input_error{
	width: 100%;
	float: left;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}
#label_error{
	width: 100%;
	text-align: center;
	line-height: 25px;
	color: red;
}